<div class="page">
  <mat-card class="card" appearance="outlined">
    <mat-card-content class="content">
      <div class="logo">
        <img src="assets/images/logo-no-background.png" alt="logo ABCall" />
      </div>
      <ng-container *ngIf="!done">
        <form [formGroup]="codeForm" *ngIf="!sent">
          <mat-form-field appearance="outline">
            <mat-label i18n>Correo</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>
          <div class="actions">
            <button
              class="send"
              mat-flat-button
              (click)="sendCode()"
              [disabled]="!isCodeValid()"
              i18n
            >
              Enviar Código de recuperación
            </button>
          </div>
        </form>
        <form [formGroup]="resetForm" *ngIf="sent">
          <mat-form-field appearance="outline">
            <mat-label i18n>Código</mat-label>
            <mat-hint
              *ngIf="resetForm.hasError('invalid_code')"
              class="error"
              i18n
              >Código no valido</mat-hint
            >
            <input formControlName="code" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n>Contraseña</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              (change)="validatePassword()"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label i18n>Confirmar Contraseña</mat-label>
            <mat-hint *ngIf="codeForm.hasError('confirmedError')" class="error" i18n
              >La contraseña no coincide</mat-hint
            >
            <input
              type="password"
              formControlName="confirmPassword"
              matInput
              (change)="validatePassword()"
            />
          </mat-form-field>
          <div class="actions">
            <button
              class="save"
              mat-flat-button
              (click)="save()"
              [disabled]="!isValid()"
              i18n
            >
              Guardar
            </button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="done">
        <div class="done">
          <p i18n>La contraseña se ha cambiado correctamente.</p>
          <button class="back" mat-flat-button (click)="goToLogin()" i18n>
            Volver al Login
          </button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>Loading...</h3>
  </div>
</ng-template>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>
