<button class="chat-button" matRipple (click)="toggleChat()" aria-label="Chatbot Navigation">
  <mat-icon>chat</mat-icon>
</button>
<mat-card class="chat" appearance="outlined" *ngIf="isOpen">
  <mat-card-header class="chat-header">
    <img mat-card-avatar src="assets/images/batman.png" width="48px" alt="chatbot" />
    <mat-card-title i18n>Chatbot</mat-card-title>
  </mat-card-header>
  <mat-card-content class="chat-content">
    @for (message of messages; track message.text) {
      <div *ngIf="message.text" class="message {{ message.fromUser ? 'user' : 'bot' }}">
        {{message.text}}
      </div>
      <div *ngIf="!message.text" class="message bot" style="width: 60px; padding: 5px;">
        <div class="loader"></div>
      </div>
    }
  </mat-card-content>
  <mat-card-actions>
    <form [formGroup]="chatForm">
      <div class="field"> 
        <input formControlName="message" type="text" matInput i18n-placeholder placeholder="Mensaje">
      </div>
      <button class="chat-send" mat-button (click)="send()" [disabled]="!chatForm.get('message')?.value" aria-label="Send"><mat-icon>send</mat-icon></button>
    </form>
    </mat-card-actions>
</mat-card>
