<button class="chat-button" matRipple (click)="toggleChat()">
  <mat-icon>chat</mat-icon>
</button>
<mat-card class="chat" appearance="outlined" *ngIf="isOpen">
  <mat-card-header class="chat-header">
    <img mat-card-avatar src="assets/images/batman.png" width="48px" alt="chatbot" />
    <mat-card-title>Chatbot</mat-card-title>
  </mat-card-header>
  <mat-card-content class="chat-content">
    @for (message of messages; track message.text) {
      <div class="message {{ message.fromUser ? 'user' : 'bot' }}">
        {{message.text}}
      </div>
    }
    <div class="message loader-container" *ngIf="loading">
      <div class="loader"></div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <form [formGroup]="chatForm">
      <div class="field">
        <input formControlName="message" type="text" matInput>
      </div>
      <button mat-button (click)="send()" [disabled]="!chatForm.get('message')?.value"><mat-icon>send</mat-icon></button>
    </form>
    </mat-card-actions>
</mat-card>
