<div class="page">
    <ng-container *ngIf="!done">
      <form [formGroup]="incidentDetailForm">
        <h2 i18n>Incidente #{{ incidentDetail?.id_number }}</h2>
        <mat-form-field appearance="outline">
          <mat-label i18n>Estado</mat-label>
          <input formControlName="state" [value]="getIncidentStateString(incidentDetail?.state ?? undefined)" matInput />
        </mat-form-field>
        <div class="toggle-container">
          <div class="toggle-item">
            <mat-icon class="icon" >phone</mat-icon>
            <mat-slide-toggle
              [checked]="isPhoneEnabled"
              color="#006874"
              (change)="onToggleChange('phone')">
            </mat-slide-toggle>
          </div>
          <div class="toggle-item">
            <mat-icon class="icon">mail</mat-icon>
            <mat-slide-toggle
            [checked]="isMailEnabled"
            (change)="onToggleChange('mail')"></mat-slide-toggle>
          </div>
          <div class="toggle-item">
            <mat-icon class="icon" >smartphone</mat-icon>
            <mat-slide-toggle  [checked]="isSmartphoneEnabled"></mat-slide-toggle>
          </div>
          <div>
            <button mat-icon-button (click)="fileInput.click()"  class="download-button" aria-label="Upload">
              <mat-icon>upload</mat-icon></button>
            <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none">
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label i18n>Título</mat-label>
          <mat-error *ngIf="incidentDetailForm.get('title')?.hasError('required')  && (incidentDetailForm.get('title')?.touched || incidentDetailForm.get('title')?.dirty)" i18n>
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="incidentDetailForm.get('title')?.hasError('maxlength') && (incidentDetailForm.get('title')?.touched || incidentDetailForm.get('title')?.dirty)" i18n>
            Puede contener máximo 50 caracteres
          </mat-error>
          <input formControlName="title" [value]="incidentDetail?.title" matInput />
        </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="this.user?.type !== 3">
            <mat-label i18n>Cliente</mat-label>
            <select
              matNativeControl
              formControlName="clientid"
            >
              <option [value]="null"></option>
              @for (item of filteredClients; track item) {
              <option [value]="item.nit" [selected]="item.nit === incidentDetail?.clientid">
                {{ item.name }}
              </option>
              }
            </select>
            <mat-error *ngIf="incidentDetailForm.get('clientid')?.hasError('required')" i18n>
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="this.user?.type !== 1" i18n>
          <mat-label>Usuario</mat-label>
          <input
            matInput
            formControlName="iduser"
            [matAutocomplete]="auto"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser" (optionSelected)="onUserSelected($event)" >
            <mat-option *ngFor="let user of filteredUsers" [value]="user">
              {{ user.id_number }} - {{ user.username }}
            </mat-option>
          </mat-autocomplete>
          <mat-error  *ngIf="incidentDetailForm.get('iduser')?.hasError('required')">
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="description">
          <mat-label i18n>Descripción</mat-label>
          <mat-error *ngIf="incidentDetailForm.get('description')?.hasError('required') && (incidentDetailForm.get('description')?.touched || incidentDetailForm.get('description')?.dirty)" i18n>
            Este campo es obligatorio
          </mat-error>
          <mat-error *ngIf="incidentDetailForm.get('description')?.hasError('maxlength') && (incidentDetailForm.get('description')?.touched || incidentDetailForm.get('description')?.dirty)" i18n>
            Puede contener máximo 255 caracteres
          </mat-error>
          <textarea matInput formControlName="description" [value]="incidentDetail?.description" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label i18n>Tipo PQR</mat-label>
          <select matNativeControl formControlName="type">
            <option [value]="IncidentType.Other" i18n>Otro</option>
            <option [value]="IncidentType.Techincal" i18n>Técnico</option>
            <option [value]="IncidentType.Users" i18n>Usuarios</option>
            <option [value]="IncidentType.Software" i18n>Software</option>
            <option [value]="IncidentType.Hardaware" i18n>Hardware</option>
          </select>
          <mat-error *ngIf="incidentDetailForm.get('type')?.hasError('required')" i18n>
            Este campo es obligatorio
          </mat-error>
        </mat-form-field>
        <div class="actions">
          <button class="cancel" mat-stroked-button (click)="goBack()" i18n aria-label="Cancel">
            SALIR
          </button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="done">
      <div class="done">
        <p i18n>Incidente registrado correctamente.</p>
        <button class="back" mat-flat-button (click)="goBack()" i18n aria-label="Come back">
          Volver a la lista
        </button>
      </div>
    </ng-container>
</div>

<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>Loading...</h3>
  </div>
</ng-template>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>

