<mat-toolbar class="custom-toolbar">
  <button class="logo-button" mat-icon-button (click)="sidenav.toggle()">
    <!-- <mat-icon>menu</mat-icon> -->
    <img src="assets/images/logo.png" width="64px" alt="logo ABCall" />
  </button>
  <span>ABCCall</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item class="user">
        <div class="item">
          <mat-icon matListIcon>face</mat-icon>
          <div class="username">
            <span matLine i18n>{{user?.username}}</span>
            <span *ngIf="user?.type === 0" class="rol" matLine i18n>Administrador</span>
            <span *ngIf="user?.type === 1" class="rol" matLine i18n>Usuario</span>
            <span *ngIf="user?.type === 2" class="rol" matLine i18n>Agente</span>
            <span *ngIf="user?.type === 3" class="rol" matLine i18n>Cliente</span>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/app/home" [class.active]="isActive('/app/home')">
        <div class="item">
          <mat-icon matListIcon>home</mat-icon>
          <span matLine i18n>Inicio</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/app/incident" [class.active]="isActive('/app/incident')">
        <div class="item">
          <mat-icon matListIcon>add</mat-icon>
        <span matLine i18n>Incidentes</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/app/client" [class.active]="isActive('/app/client')" *ngIf="user?.type?.toString() === '3'">
        <div class="item">
          <mat-icon matListIcon>add</mat-icon>
        <span matLine i18n>Clientes</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/app/user" [class.active]="isActive('/app/user')" *ngIf="user?.type?.toString() === '0'">
        <div class="item">
          <mat-icon matListIcon>add</mat-icon>
        <span matLine i18n>Usuarios y Roles</span>
        </div>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <div class="item">
          <mat-icon matListIcon>exit_to_app</mat-icon>
        <span matLine i18n>Cerrar sesión</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
