<div class="container">
  <!-- Filtros de búsqueda -->
  <div class="search-filters">
    <div class="search-item">
      <label for="idIncidenteSearch">Id Incidente</label>
      <mat-form-field appearance="outline" class="small-form-field">
        <input matInput id="idIncidenteSearch" (keyup)="applyFilter($event)" placeholder="Seleccionar" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="search-item">
      <label for="usuarioSearch">Id Usuario</label>
      <mat-form-field appearance="outline" class="small-form-field">
        <input matInput id="usuarioSearch" (keyup)="applyFilter($event)" placeholder="Seleccionar" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <!-- Tabla -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Columna Título Incidente -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Título incidente </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Columna Id Incidente -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id incidente </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Columna Usuario -->
      <ng-container matColumnDef="userid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
      </ng-container>

      <!-- Columna Tipo PQR -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo PQR </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Columna Tipo Ingreso -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Ingreso </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <!-- Encabezados y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginación -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator> -->
  </div>
</div>