.container {
    max-width: 1500px; 
    margin: 0 auto;
    padding: 100px; 
  }
  
  .search-filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  label {
    font-size: 14px; 
    font-weight: 500;
    white-space: nowrap; 
  }
  
  .small-form-field {
    width: 350px;
    margin: 0; 

  }
  
  mat-form-field {
    display: flex; 
    align-items: center; 
    margin-bottom: 0; 
    padding: 0; 
  }
  
  .table-container {
    background-color: var(--on-secundary) !important; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  table {
    width: 100%; 
    background-color: var(--on-secundary) !important;
  }
  
  mat-paginator {
    margin-top: 20px;
    background-color: var(--on-secundary) !important;
  }
  .create {
    color: var(--primary) !important;
  }
  
  button {
    border-radius: 4px;
  }
  .error-message {
    color: var(--error) !important;
    text-align: center;
    margin-top: -5px;
  }